apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-api-deployment
  labels:
    app: hello-api
spec:
  replicas: 1 # how many versions of the app we should run
  selector:
    matchLabels:
      app: hello-api
  template:
    metadata:
      labels:
        app: hello-api
    spec:
      containers:
        - name: hello-api
          image: hello-api:v1 # the docker image that we're running
          resources:
            # the maximum resources that this can consume before being throttled
            limits:
              memory: "128Mi"
              cpu: "500m"
